@model LessonProject.Model.User

@if (Model != null)
{
    <center>
        <table border="1" width="40%" height="25%">
            <tr>
                <th style="font-size: 20px;">@Model.Email</th>
                <th style="font-size: 20px;">@Html.ActionLink("Выход", "Logout", "Login") </th>

            </tr>
        </table>
    </center>


}
else
{
    <center>
        <table border="1" width="40%" height="25%">
            <tr>
                <th style="font-size: 20px;">@Html.ActionLink("Вход", "Index", "Login")</th>

            </tr>
        </table>
    </center>
    <center>
        <table border="1" width="40%" height="25%">
            <tr>
                <th style="font-size: 20px;" >@Html.ActionLink("Регистрация", "Register", "User")</th>

            </tr>
        </table>
    </center>

}
<center>
    <table border="1" width="40%" height="25%">
        <tr>
            <th style="font-size: 20px;">@Html.ActionLink("Темы", "Index", "Topics")</th>

        </tr>
    </table>
</center>